#story1{
    border-style: ridge;
    border-width: 10px 10px;
}

#story2{
    border-style: ridge;
    border-width: 10px 10px;
}

#story3{
    border-style: ridge;
    border-width: 10px 10px;
}

#story4{
    border-style: ridge;
    border-width: 10px 10px;
}

#story5{
    border-style: ridge;
    border-width: 10px 10px;
    width: 350px;
    height: 250px;
}

#story6{
    border-style: ridge;
    border-width: 10px 10px;
}

#story7{
    border-style: ridge;
    border-width: 10px 10px;
    width: 350px;
    height: 250px;
}